alembic
certifi
charset-normalizer
click
colorama
dnspython
email-validator
Flask
Flask-Cors
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2-binary
python-dotenv
redis
requests
setuptools
six
spotipy
SQLAlchemy
sqlalchemy-utils
typing_extensions
urllib3
Werkzeug
WTForms
pyngrok

# Testing dependencies
pytest
pytest-flask
flake8
coverage

# Production dependencies
gunicorn
supervisor
